.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 188px;
	height: 54px;

	background-image: linear-gradient(180deg, #ff3737 0%, #ab0000 100%);
	border: 3px solid #fcfcfc;
	border-radius: 20px;

	span {
		font-weight: 800;
		font-size: 24px;
		line-height: math.div(29, 24);

		color: #ffffff;
	}

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
	@media (min-width: 700px) and (min-height: 700px) {
		width: 282px;
		height: 81px;
		span {
			font-size: 30px;
		}
	}
	@media (max-width: 650px) {
		width: 144px;
		height: 42px;
		span {
			font-size: 20px;
		}
	}
}
[type="button"] {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	transition: transform 0.3s ease 0s;
	&:active {
		transform: translateY(2px);
	}
}
//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	display: flex;
	width: 100%;
	min-height: 100vh;

	background: linear-gradient(0deg, rgba(20, 19, 35, 0.7), rgba(20, 19, 35, 0.7)),
		url("@img/other/bg.png") center / cover no-repeat;

	overflow: hidden;
	transition: all 0.3s ease 0s;

	&__block-acces {
		flex: 0 1 75%;
	}

	&__acces {
	}

	&__button-box {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex: 1;
	}

	// .preloader__button

	&__button {
		position: relative;
		z-index: 3;
		margin-bottom: 27px;
		@media (min-width: 700px) and (min-height: 700px) {
			margin-bottom: 100px;
		}
	}
}

.acces-preloader {
	position: relative;
	z-index: 3;

	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 20px);
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 10px;

	overflow: auto;

	&._hide {
		display: none;
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}
}

.text-pre {
	font-weight: 800;
	font-size: 16px;
	line-height: math.div(19, 16);

	color: #ffffff;

	@media (min-width: 700px) and (min-height: 700px) {
		font-size: 20px;
	}

	&__title {
		text-transform: uppercase;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-anim {
	img {
		&._anim-icon-jump {
			animation: jump_icon 5s ease;
		}
		&._anim-icon-scale {
			animation: scale_icon 0.5s ease 2;
		}
		&._anim-icon-rotate {
			animation: rotate_icon 1.5s ease-out 1;
		}
	}
}

.text {
	font-weight: 700;
	@include adaptiveValue("font-size", 24, 18, 1200, 550, 1);
	line-height: math.div(23, 20);
	color: #ffffff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	&_game {
		font-weight: 500;
	}
}

//========================================================================================================================================================
